/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: bisque;
}


/* utilities */




/* contents */

#score-bar {
    background-color: tomato;
    border: 2px solid red;
    border-radius: 15px;
}

#grid {
    max-width: 856px;
    column-gap: 1.5rem;
}

#grid img {
    width: 190px;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}


/* effects */