/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* img {
    width: 100%;
} */


/* utilities */




/* contents */

#grid {
    max-width: 60vw;
}


/* effects */